h1 {
  color: black;
  text-align: center;
}
h2 {
  color: green;
  font-style: italic;
  text-align: center;
  font-family: monospace;
}
p {
  font-family: sans-serif;
  font-style: oblique;
  font-family: cursive;
}
ol {
  line-height: 40px;
}
body {
  background-color: greenyellow;
}

img {
  height: 500px;
  width: 800px;
}
